@model List<PrescriptionItem>
@{
    Layout = null;
}
<form asp-controller="Prescription" asp-action="Update">
    <div class="row">
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <label for="DrugId">@Strings.Drug</label>
                <select id="DrugId"
                        name="DrugId"
                        class="form-control select2 w-100 with-ajax"
                        data-url="@Url.Action("Search","Drug")">
                    <option value="">@Strings.SelectPlease</option>
                </select>
            </div>
            @*<custom-select
                name="DrugId"
                label="@Strings.Drug"
                optional-label="@Strings.SelectPlease"
                class="form-control select2 w-100 with-ajax"
                 />*@
        </div>
        <div class="col-8 col-sm-3">
            <custom-input id="Count" name="Count" label="@Strings.Count" class="form-control ltr-elm" />
        </div>
        <div class="col-4 col-sm-3">
            <button class="btn btn-info" type="button" id="btn-add-item"><i class="zmdi zmdi-plus"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>@Strings.Drug</td>
                        <td>@Strings.Count</td>
                        <td>@Strings.Delete</td>
                    </tr>
                </thead>
                <tbody id="items">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr data-price="@item.TotalPrice">
                                <td>@item.Drug.NameFa (@item.Drug.UniqueId)</td>
                                <td>@item.Count</td>
                                <td><i class="delete-item zmdi zmdi-delete default-i" data-url="@Url.Action("DeleteItem","Prescription", new { id=item.PrescriptionItemId })"></i></td>
                            </tr>
                        }
                    }
                    <tr class="total-sum">
                        <td>@Strings.TotalPrice</td>
                        <td colspan="2">@(Model!=null?Model.Sum(x=>x.TotalPrice):0) @Strings.MoneyCurrency</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="custom-modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Strings.Close</button>
        <custom-button text="@Strings.Submit" icon="zmdi zmdi-floppy" class="btn-primary btn-submit float-left"></custom-button>
    </div>
</form>

