@model Drug
@{
    Layout = null;
    var assets = (Model.DrugAssets ?? new List<DrugAsset>()).OrderBy(x => x.DrugAssetId).ToList();
}
<form asp-controller="Drug" asp-action="@(Model.DrugId==0?"Add":"Update")" id="frm-Drug">
    @Html.HiddenFor(x => x.DrugId)
    <div class="row m-b">
        <div class="col-12 col-sm-4">
            <partial name="~/Views/Shared/Partials/_SingleUploader.cshtml" model='new SingleUploaderModel("image1","تصویر یک",assets.FirstOrDefault())' />
        </div>
        <div class="col-12 col-sm-4">
            <partial name="~/Views/Shared/Partials/_SingleUploader.cshtml" model='new SingleUploaderModel("image2","تصویر دو",assets.Skip(1).FirstOrDefault())' />

        </div>
        <div class="col-12 col-sm-4">
            <partial name="~/Views/Shared/Partials/_SingleUploader.cshtml" model='new SingleUploaderModel("image3","تصویر سه",assets.Skip(2).FirstOrDefault())' />
        </div>
    </div>
    <div class="row">
        @*<div class="col-12 col-sm-6">
            <custom-select-for for="StoreId"
                               select-data-url='@Url.Action("Search", "Store")'
                               class="form-control select2 w-100 with-ajax"
                               items="Model.Store==null?new List<SelectListItem>():new List<SelectListItem> {
                                              new SelectListItem {
                                                      Selected = true,
                                                      Value = Model.StoreId.ToString(),
                                                      Text = Model.Store.FullName
                                                }
                                              }" />
        </div>*@
        <div class="col-12 col-sm-6">
            <custom-select-for for="DrugCategoryId"
                               class="form-control"
                               items="(List<SelectListItem>)ViewBag.Categories" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12">
            <custom-input-for for="Name" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-4">
            <custom-input-for for="Price" class="form-control ltr-elm" />
        </div>
        <div class="col-12 col-sm-4">
            <custom-input-for for="DiscountPrice" class="form-control ltr-elm" />
        </div>
        <div class="col-12 col-sm-4">
            <custom-checkbox-for for="IsActive" wrapper-class="chb-group" />
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                @Html.LabelFor(x => x.DrugTags)
                @{
                    var tags = "[]";
                    if (Model.DrugTags != null)
                    {
                        tags = (Model.DrugTags.Select(x => new SelectListItem
                        {
                            Text = x.Tag.Name,
                            Value = x.TagId.ToString()
                        }).ToList()).SerializeToJson();
                    }
                    <input type="hidden" value='@tags' id="tags_wrapper" placeholder="@Strings.SearchHere" />
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <custom-textarea-for for="Description"></custom-textarea-for>
        </div>
    </div>

    <div class="custom-modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">@Strings.Close</button>
        <custom-button type="button" text="@Strings.Submit" icon="zmdi zmdi-floppy" class="btn-primary btn-submit-Drug float-left"></custom-button>
    </div>
</form>

<script>
    assets = [];
        $('#tags_wrapper').hummingbird({
        url:'@Url.Action("search","tag")'
    });
</script>
