@model Order
@{
    Layout = null;
}
@Html.HiddenFor(x => x.OrderId)
<div class="row">
    <div class="col-12 col-sm-6">
        <div class="form-group radio-status accept">
            <label>
                <input type="radio" name="OrderDrugStoreStatus" value="@OrderDrugStoreStatus.Accepted" />
                @OrderDrugStoreStatus.Accepted.GetDescription()
            </label>
        </div>
    </div>
    <div class="col-12 col-sm-6">
        <div class="form-group  radio-status denied">
            <label>
                <input type="radio" name="OrderDrugStoreStatus" value="@OrderDrugStoreStatus.Denied" />
                @OrderDrugStoreStatus.Denied.GetDescription()
            </label>

        </div>
    </div>
</div>
<div class="row m-b">
    <div class="col-12">
        <div class="form-group">
            <textarea class="form-control" name="OrderDrugStoreComment" placeholder="@Strings.Description" rows="3"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6">
        <custom-input-for for="Address.User.Email" readonly="true" />
    </div>
    <div class="col-12 col-sm-6">
        <custom-input-for for="Address.User.MobileNumber" readonly="true" class="form-control ltr-elm" />
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-6">
        <custom-select-for for="Status" readonly="true" items="EnumExtension.GetEnumElements<OrderStatus>().Select(x=>new SelectListItem {
                          Value = x.Name,
                          Text = x.Description,
                          Disabled = (x.Name ==  OrderStatus.WaitForPayment.ToString() || (x.Name ==  OrderStatus.Done.ToString())?true:false)
                      }).ToList()" />
    </div>
    <div class="col-12 col-sm-6">
        <custom-input-for for="UniqueId" readonly="true" />
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-4">
        <custom-input-for for="InsertDateSh" readonly="true" />
    </div>
    <div class="col-12 col-sm-4">
        <custom-input-for for="TotalPrice" readonly="true" class="form-control ltr-elm" />
    </div>
    <div class="col-12 col-sm-4">
        <custom-input-for for="TotalPriceWithoutDiscount" readonly="true" class="form-control ltr-elm" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <custom-textarea-for for="Comment" readonly="true" />
    </div>
</div>